textarea{
    width: 60%;
    height: 10vh;
    display: block;
    padding: 1rem;
    margin: auto;
    margin-top: 3rem;
    font-style: ;
}

body{
    display: block;
    margin: 0;
}
.op-stmt{
    padding-top: 2rem;
    margin-left: 260px;
} 
#output{
    border: 1px solid black;
    width: 60%;
    height: 10vh;
    display: block;
    padding: 1rem;
    margin: auto;
    margin-top: 1rem;
}

.navigation {
    background-color: #FBBF24;
    color: black;
    padding: 3rem;
    border-bottom-left-radius: 1rem;
    padding-left: 1rem;
}

.header {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

#btn-translate{ 
    /* margin-left: 270px;
    margin-top: 30px; */
    position: relative;
    top: 50%;
    padding: 0.7rem;
    margin-top: 1rem;
    border-radius: 0.4rem;
    background-color: #FBBF24;
    font-size: larger;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: #FBBF24;
    text-align: center;
}



p{
    max-width: 600px;
    margin: auto;
    padding: 1rem;
    font-size: 1.1rem;
}

.container{
    text-align: center;
}
