textarea{
    width: 60%;
    height: 10vh;
    display: block;
    padding: 1rem;
    margin: auto;
    margin-top: 3rem;
}

body{
    display: block;
    margin: 0;
}
.op-stmt{
    padding-top: 1rem;
} 
#output{
    border: 1px solid black;
    width: 80%;
    height: 10vh;
    padding: 1rem;
    margin-top: 1rem;
}

.navigation {
    background-color: #FBBF24;
    color: black;
    padding: 3rem;
    border-bottom-left-radius: 1rem;
    padding-left: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 2rem;
}

#btn-translate{
    margin-top: 1rem;
    padding: 0.7rem;
    border-radius: 0.4rem;
    top: 50%;
    left: 50%;
    
}

.container-center {
    max-width: 600px;
    margin: auto;
    padding-bottom: 4rem;
}