textarea{
    width: 80%;
    height: 10vh;
    display: block;
    margin: 1rem;
    padding: 1rem;
}
.op-stmt{
    padding-top: 1rem;
} 
#output{
    border: 1px solid black;
    width: 80%;
    height: 10vh;
    padding: 1rem;
    margin-top: 1rem;
}

